<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.educy.dao.BlogMapper">


    <insert id="addBlog" parameterType="Blog">
        insert into easy_mybatis.blog (id ,title ,author , create_time , views) values
        (#{id} , #{title} , #{author},#{createTime},#{views})
    </insert>

    <sql id="if-title-author">
        <if test="title != null">
            title = #{title}
        </if>
        <if test="author != null">
            and author = #{author}
        </if>
    </sql>

    <sql id="set-title-author">
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="author!=null">
                author = #{author},
            </if>
        </set>
    </sql>

    <select id="queryBlogIF" parameterType="map" resultType="Blog">
        select  * from blog
        <where>
           <include refid="if-title-author"></include>
        </where>
    </select>


    <select id="queryBlogChoose"  parameterType="map"  resultType="Blog">
        select * from blog
        <where>
            <choose>
                <when test = "title!= null" >
                    title = #{title}
                </when>
                <when test="author!= null">
                   and author = #{author}
                </when>
                <otherwise>
                   and views = #{views}
                </otherwise>
            </choose>
        </where>
    </select>



    <update id="updateBlog"  parameterType="map" >
        update blog
        <include refid="set-title-author"></include>
        where id = #{id}
    </update>




    <!--select * from blog where 1=1 and (id=1 or id=2 or id=3)
    我们现在传递一个万能的map 这个map中可以存在一个集合  注意 open="and ("  and和括号之间有一个空格
    -->
    <select id="quBlogsForeach" parameterType="map" resultType="com.educy.entity.Blog">
        select  * from blog
        <where>

            <foreach collection="ids" item="id" open="and ("  close=")" separator="or">
                id = #{id}
            </foreach>
        </where>
    </select>
</mapper>